<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active:isActive('form.view')}"><a ui-sref="form.view()">View</a></li>
  <li role="presentation" ng-class="{active:isActive('form.edit')}"><a ui-sref="form.edit()">Edit</a></li>
  <li role="presentation" ng-class="{active:isActive('form.delete')}"><a ui-sref="form.delete()">Delete</a></li>
  <li role="presentation" ng-class="{active:isActive('form.action')}"><a ui-sref="form.action.index()">Actions</a></li>
  <li role="presentation" ng-class="{active:isActive('form.permission')}"><a ui-sref="form.permission()">Permissions</a></li>
  <li role="presentation" ng-class="{active:isActive('form.submission')}"><a ui-sref="form.submission.index()">Submissions</a></li>
</ul>
<div ui-view></div>
